---
import JBHJob from '@components/about/jobs/jbh.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title="About Me">
  <div class="my-5 text-center">
    <div class="text-4xl w-full font-bold">About Me</div>
  </div>

  <div class="my-5 text-justify">
    I'm a full time <b>Sr. Operations Engineer</b> by title, but I'm also a
    <b>Sr. Full Stack Engineer</b> based on my responsibilities and the work I do. For more details
    on my job and the things I do, please read on.<br/><br/>
    
    This includes, but<br/>
    isn't limited to, things such as:

    
  </div>

  <div class="job-container"><JBHJob /></div>

</BaseLayout>
