---
const today = new Date()
---

<footer class="footer footer-center mb-5 pt-10">
  <div class="pb-2">
    <text>
      &copy; {new Date().getFullYear()}
      <a class="underline" href="https://4lch4.link">Devin W. Leaman / @4lch4</a>
    </text>
  </div>
</footer>
