---
import RoleBase from '@components/about/jobs/RoleBase.astro'
---

<div class="text-3xl w-full font-bold mb-5">J.B. Hunt</div>

<div class="time-line-container text-lg grid gap-4 mb-10">
  <RoleBase title="Sr. Operations Engineer" subtitle="Feb. 2022 — Present">
    <li>
      Develop & maintain <a href="https://kubernetes.io">Kubernetes</a> Deployments (CronJobs, Web Apps,
      etc.)
    </li>

    <li>
      Install and maintain an installation of <a href="https://dynatrace.com">Dynatrace</a> in
      <a href="https://azure.com">Azure</a> and then
      <a href="https://cloud.google.com">Google Cloud</a>.
    </li>

    <li>
      Migrate the installation of <a href="https://dynatrace.com">Dynatrace</a> to their SaaS offering
      and then maintain it going forward.
    </li>
  </RoleBase>

  <RoleBase title="Operations Engineer" subtitle="Feb. 2020 — Feb. 2022">
    <li>
      Develop & maintain <a href="https://kubernetes.io">Kubernetes</a> Deployments (CronJobs, Web Apps,
      etc.)
    </li>

    <li>
      Install and maintain an installation of <a href="https://dynatrace.com">Dynatrace</a> in
      <a href="https://azure.com">Azure</a> and then
      <a href="https://cloud.google.com">Google Cloud</a>.
    </li>

    <li>
      Migrate the installation of <a href="https://dynatrace.com">Dynatrace</a> to their SaaS offering
      and then maintain it going forward.
    </li>
  </RoleBase>

  <RoleBase title="Contractor / NOC Engineer" subtitle="Feb. 2019 — Feb. 2020">
    <li>
      Develop & maintain <a href="https://kubernetes.io">Kubernetes</a> Deployments (CronJobs, Web Apps,
      etc.)
    </li>

    <li>
      Install and maintain an installation of <a href="https://dynatrace.com">Dynatrace</a> in
      <a href="https://azure.com">Azure</a> and then
      <a href="https://cloud.google.com">Google Cloud</a>.
    </li>

    <li>
      Migrate the installation of <a href="https://dynatrace.com">Dynatrace</a> to their SaaS offering
      and then maintain it going forward.
    </li>
  </RoleBase>
</div>
